<form id="addIngredient">
    <input type="text" name="name" id="name" placeholder="name">
    <input type="text" name="expiration" id="expiration" placeholder="expiration">
    <input type="text" name="category" id="category" placeholder="category">
    <input type="submit" value="Save Ingredient!">
</form>