<h1>Ingredients</h1>
{{#each ingredients}}
    <h3>{{name}}</h3>
    <p>Expiration: {{expiration}}</p>
    <p>Category: {{category}}</p>
    {{#if isMine}}
        <button id="delete" data-id="{{this.id}}">Delete</button>
        <button id="update">Update</button>
    {{/if}}
{{/each}} 