<div class="row">
    <div class="col s1 m2 l4"></div>
    <div class="col s10 m8 l4">
        <form id="login" class="container">
            <label for="username">username</label>
            <input type="text" id="username">
            <label for="password">password</label>
            <input type="password" id="password">
            <input class="btn" type="submit" value="Login">
        </form>
    </div>
    <div class="col s1 m2 l4"></div>
</div>