<div class="row">
    <div class="col s1 m2 l4"></div>
    <div class="col s10 m8 l4">
        <form id="signup" class="container">
            <label for="username">username</label>
            <input type="text" id="username">
            <label for="password">password</label>
            <input type="password" id="password">
            {{!-- <button class="btn purple accent-4 modal-trigger" data-target="modal2">SIGNUP</button> --}}
            <input class="btn purple accent-4"type="submit" value="Signup">
        </form>
    </div>
    <div class="col s1 m2 l4"></div>
</div>


<footer id="signup-foot">
    <div class="row container center">
        <div class="col s12">
            <p>&copy;CheckItOut</p>
        </div>
    </div>

</footer>

  <!-- Modal Structure -->
  {{!-- <div id="modal1" class="modal">
    <div class="modal-content">
      <h2>Success</h2>
      <p>You now have an account with Check Your Fridge!</p>
    </div>
    <div class="modal-footer">
      <a href="/login" class="modal-close btn-flat">Login</a>
    </div>
  </div> --}}