nav{
    background-color: rgb(124, 196, 8);
}
.large {
    font-size: 200%;
}

.light-text {
    color: rgb(218, 218, 218);
}

.btn{
    background-color: #f1815e;
}

.categoryBtn, .all{
    margin-bottom: 5px;
}

.card {
    background-color: rgb(175, 175, 175);
}

/* body{
    background-image: url("/images/interior-of-refrigerator.jpg");
    background-size: cover;
    background-repeat: no-repeat;
} */

.parallax {
    /* The image used */
    background-image: url("/images/interior-of-refrigerator.jpg");
  
    /* Set a specific height */
    height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h3{
    background-color: rgb(255, 255, 255);
    background-image: url("/images/texture.png");
    border-radius: 5px;
    box-shadow: 2px 3px rgba(62, 0, 90, 0.651);
    padding: 2%;
}

/* .h3{
    box-shadow: 5px 5px rgb(62, 0, 90);
} */

header{
    background-image: url("/images/texture.png");
    padding-top: 1%;
    padding-bottom: 1%;
}

/* 
.fixed{
    width: 100vw;
    position: fixed;
    z-index: 1;
} */

