/* general styling */
.parallax {
    background-image: url("/images/interior-of-refrigerator.jpg");
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1, h3, h4, .letter{
    font-family: 'Rubik Mono One', sans-serif;
}

h5{
    text-decoration: underline;
}

h3, h4, .groceries{
    background-color: rgb(255, 255, 255);
    background-image: url("/images/texture.png");
    width: 100vw;
}

#modalIngr{
    background-image: url("/images/texture.png");
}

#modalIngr-footer{
    background-color: rgb(124, 196, 8);
}
header{
    background-image: url("/images/texture.png");
    padding-top: 1%;
    padding-bottom: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.letter{
    font-size: 3.7rem;
    text-shadow: 2px 2px rgb(73, 73, 73);
}

nav{
    background-color: rgb(124, 196, 8);
    width: 100vw;
}

.large {
    font-size: 175%;
}

.light-text{
    color: rgb(218, 218, 218);
}

.btn-flat{
    background-color: #9f58c2;
    font-size: 13px;
}


/* ingredient & recipe display layout */
.groceries{
    margin-top: 15%;
    margin-bottom: 20%;
    padding-bottom: 5%;
    padding-top: 2%;
    width: 100vw;
}

.catSection{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
}

.categoryBtn, .all, #search, .waves-effect, .waves-light, .recipeButton{
    background: none;
    color: #9f58c2;
    font-weight: bold;
}

.categoryBtn:hover, #search:hover, .material-icons:hover, .update:hover, .delete:hover, #submitIngr:hover, .modal-overlay, .deleteRecipe:hover, #addIngredient:hover, .recipeButton:hover{
    background-color: rgb(124, 196, 8);
}

.card {
    /* border-radius: 5px; */
    /* border: 1px solid #9f58c2; */
    background-color: rgba(255, 255, 255, 0.705);
    /* background-image: url("/images/texture.png"); */
    font-family: 'Signika Negative', sans-serif;
    color: rgb(44, 44, 44);
}

.card-url{
    font-size: 10px;
}


.btn-card{
    display: flex;
    justify-content: space-around;
}

.update, .delete{
    /* background-color: rgb(124, 196, 8); */
    background: none;
}

#recBtn{
    padding-bottom: 2%;
}

#recipeCard, .purple{
    color: white;
}






/* login and sign up forms */
#login, #signup{
    background-color: #eee;
    padding: 3%;
    margin-top: 10%;
    border-radius: 3px;
    box-shadow: 2px 2px rgba(90, 90, 90, 0.568);
}





/* ingredient form */
#adding{
    background-color: #eee;
    border-radius: 3px;
    box-shadow: 2px 2px rgba(90, 90, 90, 0.568);
    padding: 2%;
    margin-top: 2%;
    margin-bottom: 5%;
}

.datepicker-date-display{
    background-color: #9f58c2;
}

.titleNbtn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



/* recipe card & page styling */
.card-reveal{
    background-color: #eee;
    color: rgb(39, 39, 39);
}

#savedAbc{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#savedCont{
    display: flex;
    flex-direction: column;
    align-items: center;
}






footer{
    background-color: rgb(124, 196, 8);
    width: 100vw;
    padding: 2%;
    color: white;
}

#login-foot, #signup-foot{
    bottom: 0;
    right: 0;
    position: fixed;
    width: 100vw;
}